<div class="row">
    <div class="col-lg-2 grid-margin stretch-card">

    </div>
    <div class="col-lg-8 grid-margin stretch-card" id="pnData">

    </div>
    <div class="col-lg-12" id="filters">
        <div style="float: right;"><span id="spRange"></span>
            <div class="btn-group">
                <button class="btn btn-light" type="button" id="btnPrev"><i class="fa fa-angle-left"></i></button>
                <button class="btn btn-light" type="button" id="btnNext"><i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
</div>
<script src="Controllers/InvoiceController.js"></script>
<script lang="javascript">
    $(document).ready(function () {
        //InvoiceController.fetch()
    })
</script>